<div class="title">
  <h1>Raccoon ConnectFour</h1>
</div>

<div class="nextChip">
  <h3>Next Chip:</h3>
  <div class="currentPlayer"></div>
</div>

<div class="board">

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

<div class="win">
  <img src="http://24.media.tumblr.com/tumblr_ljgxm89DnS1qdmv0so1_500.gif">
  <div class="win-text">
    Red wins !!!
  </div>
  <button class="game_over">Reset Board</button>
</div>

</div>
