<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


  <script src="../board.js"></script>
  <script src="view.js"></script>

  <link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>
<body>

<div class="board">

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>

<div class="win">
  <img src="http://24.media.tumblr.com/tumblr_ljgxm89DnS1qdmv0so1_500.gif">
  <div class="win-text">
    Red wins !!!
  </div>
  <button class="game_over">Reset Board</button>
</div>
  <div id="column">
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <button></button>
  </div>
</div>
<!-- <div class="feet"></div> -->
<!-- <img src = "http://24.media.tumblr.com/tumblr_ljgxm89DnS1qdmv0so1_500.gif"> -->
</body>

</html>
